/*
  Author: Richard Rowe - richard_rowe@student.uml.edu
  Course: COMP 4610 – GUI I
  Assignment: HW5 – Scrabble Drag & Drop
*/
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#rack {
  width: 640px;
  height: 120px;
  margin: 20px auto;
  background: url("scrabble-tile-holder-406774_640.png") no-repeat center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile {
  width: 60px;
  height: 60px;
  margin: 4px;
  position: relative;
  z-index: 10;
  cursor: grab;
}

#board {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.square {
  width: 60px;
  height: 60px;
  border: 2px solid #999;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 1;

  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

.normal {
    background-color: #ddd;
}
.double-letter {
    background-color: #9dd9ff;
}
.double-word {
    background-color: #ffb6c1;
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  pointer-events: none;
  z-index: 1;
}

#controls {
  margin-top: 20px;
}

button {
  margin-left: 10px;
  padding: 6px 12px;
  font-size: 14px;
}

.square .label {
  opacity: 0.8;
}

.square:has(.tile) .label {
  display: none;
}
